{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Find your mentor today 🔥</h1>
		<p class="lead">Where volunteer mentors meet students.</p>
		<h3>
            <a href="/volunteer/register"><button class="btn btn-default btn-lg">Volunteer Register</button></a>
            <a href="/students"><button class="btn btn-primary btn-lg">Find a student</button></a>
		</h3>
        <h3>
            <a href="/volunteers"><button class="btn btn-primary btn-lg">Find a volunteer</button></a>
            <a href="/student/register"><button class="btn btn-default btn-lg">Student Register</button></a>
        </h3>
	</div>
</div>
{% endblock %}